@import "reset.scss";

// ====== Colors ====== //
$color--bg: #5858b9;
$color-blue: #343baa;
$color-blue--dark: #1f1172;
$color-pink--light: #f0beff;
$color-pink: #ff00ba;

// ====== Mixin ====== //
@mixin box($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin flex($j: center, $i: center) {
  display: flex;
  justify-content: $j;
  align-items: $i;
}

@mixin posAbs($t: 0, $l: 0) {
  position: absolute;
  top: $t;
  left: $l;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
ul li {
  list-style: none;
}
body,
html {
  @include box(100vw, 100vh);
  @include flex;
  background-color: $color--bg;
  font-family: Helvetica, sans-serif, Arial;
}

h5 {
  font-size: 24px;
  margin-bottom: 8px;
}
